.main {
   padding-top:2em;
}
.bootstrap-tagsinput {
    background-color: transparent;
    /* box-shadow: inset 0 -2px 0 #2196f3; */
    display: inline-block;
    padding: 4px 6px;
    color: #555;
    vertical-align: middle;
    border-radius: 4px;
    max-width: 100%;
    line-height: 22px; 
    cursor: text;
   border: none;
   border-radius: 0;
   -webkit-appearance: none;
   box-shadow: inset 0 -1px 0 #dddddd;
   font-size: 16px;
   width:100%;
}
.bootstrap-tagsinput:focus {
   box-shadow: inset 0 -2px 0 #2196f3;
}
#container {
	border:1px solid red;
}
.errors span {
	color:red;
}
ul.one {
	margin-left:4em;
}
code {
	color:#000;
}

.grid-item {
	margin-bottom: 25px;
	width: 49%;
}
.well {
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	background-color: #f9f9f9;
	border: 1px solid transparent;
	border-radius: 0;
	box-shadow: none;
 }
.bootstrap-tagsinput .tag {
	margin-right: 2px;
	color: #f8f9fa;
	background-color: #28a745;
	box-border: 10px;
	/* padding: 1px; */
	border-radius: 7px;
	font-size: 13px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 2px;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: transparent;
    background-clip: padding-box;
    border: 0px solid #ced4da;
    border-bottom: 1px solid #e4e0e0;
    border-radius: 0;
    transition: border-color .15s ease-in-out;
}
.form-control:focus {
    color: #495057;
    background-color: transparent;
    /* border-color: #80bdff; */
    outline: 0;
    border-bottom: 2px solid #007bff;
    box-shadow: none;
}

span b {
	color: #6f6c6c;
    font-weight: 600;
}
.help-block {
    font-size: 14px;
    color: #6f6c6c;
}
legend {
	color: #424242 !important;
	font-size:18px !important;
	font-weight:600 !important;
}
legend small {
    font-weight: 500;
    color: #8a8181;
}
textarea.form-control {
    height: auto;
    overflow: hidden;
}